qdrant:
  cloud: True
  url: http://qdrant
  cloud_url: https://48df36ea-60ab-4707-b59a-a799c1208d3a.us-east4-0.gcp.cloud.qdrant.io:6333
  # url: http://localhost
  port: 6334
  prefer_grpc: True
  collection_name_openai: openai
  collection_name_cohere: cohere
  collection_name_ollama: ollama

# COHERE CONFIG
cohere_completions:
  model_name: "cohere-command"
  maximum_tokens: 300

cohere_embeddings:
  embedding_model_name: "embed-multilingual-v3.0"
  size: 1024

# OLLAMA CONFIG
ollama_embeddings:
  embedding_model_name: "nomic-embed-text"
  size: 768

ollama:
  model: phi3
  size: 768

# (AZURE) OPENAI
openai_embeddings:
  azure: False
  embedding_model_name: text-embedding-ada-002
  size: 1536
  openai_api_version: 2024-02-15-preview

openai_completion:
  model: gpt-3.5-turbo
  temperature: 0
  max_tokens: 500
  top_p: 1
  frequency_penalty: 0
  presence_penalty: 0
  stop: None
